{% with title='Habits - Details | Habit Tracker' %} {% include "header.html" %}
{% endwith %}

<link rel="stylesheet" href="/static/css/compare_details.css" />

<section class="main">
	<div class="main-top">
		<h1>{{habit['title']}} Scoreboard</h1>
		<i class="fas fa-user-cog"></i>
	</div>
	<div class="maincontainer">
		<main>
			<div id="header">
				<h1>Scoreboard</h1>
				<button class="share">
					<i class="fas fa-trophy"></i>
				</button>
			</div>
			<div id="leaderboard">
				<div class="ribbon"></div>
				<table>
					{% block list %}
					{% for i in range(users|length) %}
					<tr>
						<td class="number">{{i+1}}</td>
						<td class="name">{{users[i]['name']}}</td>
						<td class="points">
							{{users[i]['completed_days']}}/{{habit['duration']}} Days

							{% if i== 0 %}
								<img class="gold-medal"
											src="/static/img/gold-medal.png"
											alt="gold medal" /> 
							{% endif %}
						</td>
					</tr>
					{% endfor %} {% endblock %}
					<!-- <tr>
						<td class="number">1</td>
						<td class="name">Lee Taeyong</td>
						<td class="points">
							258.244
							<img
								class="gold-medal"
								src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
								alt="gold medal"
							/>
						</td>
					</tr> -->
				</table>
				<!-- <div id="buttons">
				<button class="exit">Exit</button>
				<button class="continue">Continue</button>
			</div> -->
			</div>
		</main>
	</div>

	<!-- <div class="main-skills">
		{% block content %} {% for i in range(users|length) %}
		<div class="card text-center">
			<div class="card-header">{{i+1}} Rank</div>
			<div class="card-body">
				<h5 class="card-title">{{users[i]['name']}}</h5>
				<p class="card-text">{{users[i]['email']}}</p>
				<button class="btn btn-primary">
					{{users[i]['completed_days']}}/{{habit['duration']}} days
				</button>
			</div>
			<div class="card-footer text-muted">
				<div
					class="progress"
					role="progressbar"
					aria-label="Success striped example"
					aria-valuenow="25"
					aria-valuemin="0"
					aria-valuemax="100"
				>
					<div
						class="progress-bar progress-bar-striped bg-success"
						style="width: {{ ((users[i]['completed_days'] / habit['duration']) * 100) | round | int}}%"
					></div>
				</div>
			</div>
		</div>
		{% endfor %} {% endblock %}
	</div> -->
</section>
{% include 'footer.html' %}